
.modal-content {
    margin: 1%;
    padding: 0.5%;
}
.header {
    position: static;   
}
.profileimage {
    width: 10%;
    float: left;
    height: auto;
    box-shadow: 10px;
}
.name {
    margin-top: 3%;
    text-align: center;
    float: left;
}
.btn1 {
    text-align: left;
    float: right;
    margin: 2.5% .5% 0% 0%;
}
.btn2 {
    margin-left:2%;
}
.tasktext {
    width: 80%
    
}
table{
    opacity: .95;
    /* set your gradient code here */
    background: rgb(240,183,161);
    background: -moz-linear-gradient(-45deg,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(50%,rgba(140,51,16,1)), color-stop(51%,rgba(117,34,1,1)), color-stop(100%,rgba(191,110,78,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%);
    background: linear-gradient(135deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );
}
#serialNo {
    width: 20px;
}
.date {
    text-align: right;
}
.edit {
    text-align: center;

}