p
{
    text-align: center;
    font-family: cursive ;
}
.addhere {
   text-align: center;
   margin-top: 25%;
}
.popup
{
    background-color: antiquewhite;
}
.heading
{    margin: 10%;
    font-size: 300%;
    -ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  .subhead{
    margin: 1%;
    font-size: 200%;
  }
  .modal-body {
    text-align: center;
  }
  .btn1 {
    margin-right: 30%;
  }
  /* .modal-title{
      margin-left: 45%;
  } */
  .oldemail {
      float: left;
  }
  .btn2 {
      margin: 0;
  }